{% load static %}
{% load config_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% config 1 %}</title>
	<meta name="keywords" content="{% config 2 %}" />
	<meta name="description" content="{% config 3 %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/banner.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>
<body>
	<div class="top">
		<div class="box">
			<div class="logo">
				<a href="/">
					<img src="https://www.cmseasy.cn/demo/business-template/v148/images/logo.png" width="260" />
				</a>
			</div>
			<div class="top_ctct">
				<div class="tell_no">服务热线:&nbsp;&nbsp;{% contact 1 %}</div>
			</div>
		</div>
	</div>
	<div class="menu">
		<div class="box">
			<ul id="navmenu" class="menu_ul">
				<li>
					<a class="on" href="/">首页</a>
				</li>
				<li>
					<a href="">企业新闻</a>
				</li>
				<li>
					<a href="">产品中心</a>
				</li>
				<li>
					<a href="">关于我们</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="banner">
		<div class="box slides">
			<div class="slides_box">
				<div><a href="#"><img src="https://www.cmseasy.cn/demo/business-template/v009/images/slide/banner01.jpg"/></a></div>
				<div><a href="#"><img src="https://www.cmseasy.cn/demo/business-template/v148/images/slide/banner02.jpg"/></a></div>
				<div><a href="#"><img src="https://www.cmseasy.cn/demo/business-template/v009/images/slide/banner03.jpg"/></a></div>
			</div>
			<ul class="slides_nav">
				<li><div class="nav_point"></div></li>
				<li><div class="nav_point"></div></li>
				<li><div class="nav_point"></div></li>
			</ul>
		</div>
	</div>
	<div class="blank30"></div>
	{% block webContent %}
	{% endblock webContent %}
	<div class="blank20"></div>
	<div class="foot">
		<div class="box">
			<ul>
				<li>
					<span>
						<a href="">企业历史</a>
						&nbsp;:&nbsp;
						<a href="">企业文化</a>
						&nbsp;:&nbsp;
						<a href="">企业荣誉</a>
					</span>
					Copyright&nbsp;©&nbsp;&nbsp;{% config 4 %}
				</li>
				<li>京ICP备88888888号</li>
				<li>友情链接：{% friends 6 %}</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
</body>
</html>
