{% extends 'base.html' %}
{% load static %}
{% load config_tags %}

{% block webContent %}
	<div class="listctnt">
		<div class="box">
			<div class="about">
				<a href="">
					<img src="https://www.cmseasy.cn/demo/business-template/v148/upload/images/201307/13730168558595.jpg" width="151" height="150" />
				</a>
				<div class="ctnt">
					<div class="title">
						<a class="more" href="">
							<img src="{% static 'images/more.gif' %}" width="39" height="13" />
						</a>
						<span>About</span>
						<a class="aa" href="">关于我们</a>
					</div>
					<p>{% about 1 %}</p>
				</div>
			</div>
			<div class="news">
				<div class="title">
					<a class="more" href="/news/">
						<img src="{% static 'images/more.gif' %}" width="39" height="13" />
					</a>
					<span>News</span>
					<a class="aa" href="/news/">企业新闻</a>
				</div>
				<ul>
                                        {% for new in news %}
					<li>
						<span>[{{ new.create_dt|date:"Y-m-d" }}]</span>
						<a href="">{{ new.title }}</a>
					</li>
                                        {% endfor %}
				</ul>
			</div>
                        {% contact_html %}
			<div class="clear"></div>
		</div>
	</div>
	<div class="listprod">
		<div class="box">
			<div class="title">
				<a class="more" href="/product/">
					<img src="{% static 'images/more2.gif' %}" width="39" height="13" />
				</a>
				<span>Products</span>
				<a class="aa" href="/product/">产品中心</a>
			</div>
			<div class="blank10"></div>
			<div class="blank5"></div>
			<ul class="prod_cls">
                        {% for i in categories %}
				<li>{{ i.0 }}</li>
                        {% endfor %}
			</ul>
			<div class="prods">
                        {% for i in categories %}
                            {% if forloop.first %}
				<ul class="prod_list seleted">
                            {% else %}
				<ul class="prod_list">
                            {% endif %}
                            {% for p in i.1 %}
					<li>
						<a href="/product/{{ p.id }}">
							<img src="/medias/{{ p.image }}" />
						</a>
						<h5>
							<a href="">{{ p.title }}</a>
						</h5>
					</li>
                            {% endfor %}
				</ul>
                        {% endfor %}
			</div>
		</div>
	</div>
{% endblock webContent %}
